
.icon-component-5:before { content: '\e800'; } /* '' */
.icon-component-4:before { content: '\e801'; } /* '' */
.icon-component-6:before { content: '\e802'; } /* '' */
.icon-component-7:before { content: '\e803'; } /* '' */
.icon-filter:before { content: '\e804'; } /* '' */
.icon-activity:before { content: '\e805'; } /* '' */
.icon-graph:before { content: '\e806'; } /* '' */
.icon-setting:before { content: '\e807'; } /* '' */
